#form-container{
    padding: 10px;
    margin: 20px 10px 40px 10px;
}
#entry-submit-button{
    margin: 20px 20px 20px 20px;
}
label {
    margin: 10px 0px 10px 0px;
}
select {
    margin: 0px 10px 10px 10px;
}

input {
    margin: 0px 10px 10px 10px;
}